.inputbox-Style{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
}
.alreadyStyle{
    font-size: 15px;
}
.signupTextstyle{
    font-size: 15px;
}