input[type="text"],
input[type="number"],
input[type="Submit"],
select{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]{
    width:100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inputbox-Size{
    width: 200px;
    height: 60px;
}
.label-Size{
    margin-left: 1px;
}

input[type="submit"]:hover{
    background-color: #4caf50;
}