
body {
    background: linear-gradient(
      90deg,
      rgb(234, 233, 237) 0%,
      rgb(234, 233, 237) 100%
    );
  }
 
.mainContainer{
    width:40%;
    height: 500px;
    background-color: #ddd;
    border-radius: 8px;
    margin: "auto";
    max-Width: "400px";
    align-Content: "center";
    margin-left: 30%;

}
.secondContainer{
    margin-top: 60px;
    font-size: 30px;
    font-weight: 600;
    color:brown
}
.inputbox-Style{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 80%;
    font-size: 15px;
    font-weight: bold;
    
}
input[type="submit"]{
    width:60%;
    background-color:rgba(17, 122, 255, 1);
    text-align: center;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border:none;
    border-radius: 20px;
    cursor: pointer;
}
.alreadyStyle{
    font-size: 15px;
    
}
.loginText{
    font-size: 15px;
}